<% include ./partials/header %>
<form style="margin-top: 70px;">
<input type="text" placeholder="Model name">
<input type="text" placeholder="color">
<input type="text" placeholder="RAM">
</form>