<% include ./partials/header %>


<div class="container" >
	<div class="row" style="margin-top:3.5em; background-color: white;">
		<h1 style="text-align: center">Signup</h1>
		<div style="width:30%; margin: 30px auto;">
		<form method="POST" action="/register">
			<div class="form-group">
				<input class="form-control" type="text" name="username" placeholder="username">
			</div>
			
			<div class="form-group">
				<input type="password" name="password" placeholder="password" class="form-control">
			</div>

			<div class="form-group">
				<input type="password" name="confirmpassword" placeholder="confirm password"class="form-control">
			</div>

		<div class="form-group"><!-- form-group class to add spacing between form elements-->	
					<button class="btn btn-lg btn-default  btn-primary" style="width:100%">Submit</button>

		</form>

		
		
		
	</div>
</div>
<% include ./partials/footer %>