<% include ../partials/header %>
<div class="container">
	<div class="row" style="padding-top: 4.4em">
		<div class="col-md-8 col-md-offset-2">
			<h1> User profile</h1>
			<hr>
			<h2>My orders</h2>
			<% orders.forEach(function(order) { %>
			<div class="panel panel dafault">
				<div class="panel-body">
					<ul class="list-group">
						<%  order.items.forEach(function(item) { %>
						<li class="list-group-item">
							<span class="badge">₹<%= item.price %> </span>
								<%= item.item.modelname %>|<%= item.qty %> Units
						</li>
						<% }) %>
					</ul>
				</div>
				<div class="panel-footer"><strong>Total Price: ₹<%= order.cart.totalPrice %></strong></div>

			</div>
		<% }) %>
	</div>
</div>
</div>
<% include ../partials/footer %>